/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */

.chat-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.chat-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}